---
import { buttonVariants } from "./ui/button";

const { slug, nombre, precio, imagen, categoria } = Astro.props;
---

<article
  class="bg-brand-200 shadow-lg rounded-xl overflow-hidden hover:shadow-xl transition product-card flex flex-row h-64 w-full"
  transition:name={`product-${slug}`}
  data-categoria={categoria}
>
  <div class="w-2/5 h-full flex items-center justify-center">
    <img
      src={imagen}
      alt={nombre}
      class="h-auto max-h-full object-contain rounded-xl"
      transition:name={`product-image-${slug}`}
    />
  </div>
  <div class="w-3/5 p-6 flex flex-col justify-center">
    <h3 class="text-xl font-semibold" transition:name={`product-title-${slug}`}
      >{nombre}</h3
    >
    <p class="text-sm text-brand-500 mt-2">{categoria}</p>
    <p
      class="text-brand-600 font-bold mt-3 text-lg"
      transition:name={`product-price-${slug}`}>€{precio}</p
    >
    <a
      href={`/producto/${slug}`}
      class={buttonVariants({
        variant: "brand",
        size: "sm",
        className: "mt-4 w-fit",
      })}>Ver más</a
    >
  </div>
</article>
