---
import { buttonVariants } from "./ui/button";

const { slug, nombre, precio, imagen, categoria } = Astro.props;
---

<article
  class="bg-brand-200 shadow-lg rounded-xl overflow-hidden hover:shadow-xl transition product-card"
  transition:name={`product-${slug}`}
  data-categoria={categoria}
>
  <img
    src={imagen}
    alt={nombre}
    class="w-full h-64 object-cover"
    transition:name={`product-image-${slug}`}
  />
  <div class="p-4 text-center">
    <h3 class="text-lg font-semibold" transition:name={`product-title-${slug}`}
      >{nombre}</h3
    >
    <p class="text-sm text-brand-500 mt-1">{categoria}</p>
    <p
      class="text-brand-600 font-bold mt-2"
      transition:name={`product-price-${slug}`}>€{precio}</p
    >
    <a
      href={`/producto/${slug}`}
      class={buttonVariants({
        variant: "brand",
        size: "sm",
        className: "mt-4",
      })}>Ver más</a
    >
  </div>
</article>
